<script>
  /*window.onload = (event) => {
    var api = new Yotpo.API(yotpo);
    api.refreshWidgets();
  };*/
</script>

<footer id="footer" class="footer" role="contentinfo">
  <section 
    class="footer__container nospacing no-margin" 
    data-section-id="{{ section.id }}" 
    data-section-type="Footer"
    style="background-color: {{ section.settings.bg_color }};"
  >
    {% comment %} Footer navigation removed {% endcomment %}
    
    <article class="footer__contact">
      <div class="footer__contact--cta"><a href="{{ section.settings.contact_url }}">{{ section.settings.contact_cta }}</a></div>
    </article>
  </section>
</footer>



{% schema %}
{
  "name": "Footer",
  "max_blocks": 50,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "transparent"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    { "type": "header", "content": "Copyright Settings" },
    { "type" : "image_picker", "id": "footer_logo", "label": "Logo for Footer"},
    { "type" : "text", "id": "contact_cta", "label": "Call to Action for Contatct"},
    { "type" : "url", "id": "contact_url", "label": "Contact Page"}
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Footer Navigation",
      "settings": [
        { "type": "text", "id": "title", "label": "Title" },
        { "type": "link_list", "id": "footer_menu", "label": "Footer Menu", "info": "Select a navigation menu to display in the footer" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
