{% layout none %}

{%- paginate collection.products by 24 -%}
  <div class="collection page-width">
    <div class="loading-overlay gradient"></div>
    <ul
      id="product-grid"
      data-id="{{ section.id }}"
      class="
        grid product-grid grid--2-col-tablet-down
        grid--4-col-desktop
      "
    >
      {%- for product in collection.products -%}
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        
        <li
          class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            lazy_load: lazy_load,
            show_quick_add: section.settings.enable_quick_add,
            section_id: section.id
          %}
        </li>
      {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate, anchor: '' %}
    {%- endif -%}
  </div>
{%- endpaginate -%}