{% layout none %}
{%- paginate search.results by 48 -%}
  <div class="template-search__results collection page-width">
    {% if search.results.size > 0 %}
      <ul id="search-product-grid" class="grid product-grid  grid--2-col-tablet-down grid--4-col-desktop" role="list">
        {%- for item in search.results -%}
          {% assign lazy_load = false %}
          {%- if forloop.index > 2 -%}
            {%- assign lazy_load = true -%}
          {%- endif -%}
          
          {% case item.object_type %}
            {% when 'product' %}
              {% assign search_hidden = false %}
              {% for tag in item.tags %}
                {% if tag == 'search_hidden' %}
                  {% assign search_hidden = true %}    
                {% endif %}
              {% endfor %}

              {% unless search_hidden %}
                <li class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                  {% endif %}>
                    {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif -%}title,price{%- endcapture -%}
                    {% render 'card-product',
                      card_product: item,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load
                    %}
                </li>
              {% endunless %}
            {% else %}
              
          {% endcase %}
        {%- endfor -%}
      </ul>
    {% endif %}
    
    {%- if paginate.pages > 1 -%}
      {% render 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
{%- endpaginate -%}